.carousel__title {
    color: var(--color-orange);
    background-color: var(--bg-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5rem 0;
}

.card {
    background: var(--bg-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    margin: 1rem;
    padding: 1rem;
}

.card__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.description__title {
    color: var(--color-orange);
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.description__title-book {
    color: var(--color-blue);
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.7rem 0;
}

.description__text {
    color: rgba(0, 0, 0, 0.85);
    font-size: 1rem;
    font-weight: 400;
}

.card__btns {
    display: flex;
    justify-content: space-between;
}

.btns {
    display: flex;
    align-items: center;
}

.btns__item {
    margin: 0 0.5rem;
}

.btns__anchor {
    background-color: var(--color-orange);
    padding: 1rem 2.3rem;
    color: var(--bg-white);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .carousel__title {
        font-size: 1.5rem
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper {
        width: 70%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1728px) {
    .carousel__container {
        display: flex;
        align-items: center;
        margin: 0 20vw 3rem 20vw;
    }

    .swiper-pagination {
        margin: 1rem 0;
    }

    .swiper {
        width: 50%;
    }

    .description__title {
        font-size: 2rem;
    }

    .description__text {
        font-size: 1rem;;
    }

    .card {
        width: 60%;
        margin-left: 3rem;
    }
}