.footer__container {
    background-color: var(--bg-white);
    padding: 1rem;
}

.footer__container-title {
    text-align: center;
    font-size: 2rem;
    color: #000000;
    font-weight: 400;
}

.icon-list {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .icon-list {
        display: block;
    }

    .icon-list__title {
        color: var(--bg-gray);
        font-size: 0.875rem;
        font-weight: 400;
        margin: 1rem;
    }

    .footer__container {
        display: flex;
        justify-content: space-around;
    }

    .footer__container-title {
        text-align: start;
    }

    .footer__list-item {
        margin: 1rem;
        display: flex;
        align-items: center;
    }

    .footer__list-anchor {
        text-decoration: none;
        font-size: 0.875rem;
        color: var(--bg-darkgray);
        font-weight: 400;
        margin-left: 1rem
    }
}

@media screen and (min-width: 1728px) {
    .icon-list {
        border-left: 2px solid var(--bg-gray);
        padding-left: 1rem;
    }

    .footer__container {
        padding: 3rem 0;
    }
}