.header__container {
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
    .header__container-nav {
        display: flex;
        align-items: center;
    }

        .header__menu-hamburger {
            width: 2rem;
            height: 2rem;
            background-image: url("../images/icons/menu-fechado.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
        }

        .container__img {
            padding: 1rem;
        }

        .list-menu {
            display: none;
            position: absolute;
            top: 100%;
            width: 60vw;
        }

        .container__btn:checked ~ .list-menu {
            display: block;
        }

        .list-menu__title, .list-menu__item {
            padding: 1rem;
            background-color: var(--bg-white);
        }

        .list-menu__title {
            color: var(--color-orange);
            font-family: var(--fontPoppins);
            font-size: 1rem;
            font-weight: 700;
        }

        .list-menu__item {
            font-family: var(--fontPoppins);
            font-weight: 400;
        }

        .list-menu__link {
            text-decoration: none;
            background: var(--color-blue-deg);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }