.header__container {
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
    .header__container-nav {
        display: flex;
        align-items: center;
    }

        .header__menu-hamburger {
            width: 2rem;
            height: 2rem;
            background-image: url("../images/icons/menu-fechado.png");
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
        }

        .container__img {
            padding: 1rem;
        }

        .list-menu {
            display: none;
            position: absolute;
            top: 100%;
            width: 60vw;
        }
        .container__btn {
            display: none;
        }
        .container__btn:checked ~ .list-menu {
            display: block;
        }

        .container__btn:checked ~ label {
            background: var(--color-blue-deg);
        }
        
        .container__btn:checked ~ label .header__menu-hamburger {
            background-image: url("../images/icons/menu-aberto.png");

        }

        .list-menu__title, .list-menu__item {
            padding: 1rem;
            background-color: var(--bg-white);
        }

        .list-menu__title {
            color: var(--color-orange);
            font-size: 1rem;
            font-weight: 700;
        }

        .list-menu__item {
            font-weight: 400;
        }

        .list-menu__link {
            text-decoration: none;
            background: var(--color-blue-deg);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        /*display:none in mobile*/
        .container__title, .options {
            display: none;
        }
        
@media screen and (min-width: 1024px) {

    /*display:none in tablet*/
    #none, .header__menu-hamburger, .options__btns {
        display: none;
    }
    
    .list-menu {
            width: 20vw;
        }
    .container__title, .container__title-bold {
        font-family: var(--fontJosefin);
        font-size: 1.875rem;
        display: block;
    }

    .container__title {
        font-weight: 400;
    }

    .container__title-bold {
        font-weight: 700;
    }

    .options {
        display: flex;
    }

    .options__item {
        padding: 0 1rem;
        text-transform: uppercase;
        padding: 1rem;
    }

    .options__link {
        text-decoration: none;
        color: var(--bg-black);
    }

    .options__btns:checked ~ .list-menu {
        display: block;
    }

    .options__btns:checked ~ label {
        background: var(--color-blue-deg);
    }

    .options__btns:checked ~ label .options__item {
        color: var(--bg-white);
    }

    /* .list-menu__item:active {
        background: var(--color-blue-deg);
    }

    .list-menu__item > .list-menu__link {
        color: var(--bg-white)
    } */
}