@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --bg-gray: #EBECEE;
    --bg-white: #FFF;
    --bg-black: #000000;

    --color-blue-deg: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --color-orange: #EB9B00;
    --color-blue: #002F52;

    --fontPoppins: 'Poppins', sans-serif;
    --fontJosefin: 'Josefin Sans', sans-serif;
}